:host {
  label {
    display: block;
  }
  input, textarea {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #555555;
    &::placeholder {
      border-color: #a0a0a0bd;
    }
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}
