:host {
  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: 0;
    padding: .5rem 1.25rem;
    color: white;
    border: none;
    border-radius: 100px;
    white-space: nowrap;
    user-select: none;
    background-color: blue;
    &:disabled {
      background-color:  #a0a0a0bd;
    }
  }
}
