<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <app-form-control
      [control]="form.controls['label_name']"
      [label]="'name'"
      [textarea]='false'>
    </app-form-control>
  </div>
  <div>
    <app-form-control
    [control]="form.controls['label_description']"
    [label]="'Description'"
    [textarea]='true'>
    </app-form-control>
    <div *ngIf="labelDescription.errors?.maxlength">
      Description cannot be over 200 characters.
    </div>
  </div>
  <div>
    <app-form-control
    [control]="form.controls['label_contact']"
    [label]="'Contact email'"
    [textarea]='false'>
    </app-form-control>
    <div *ngIf="labelContact.errors?.email">
      Email must be in a valid format.
    </div>
  </div>
  <div>
    <label>
      Upload Demo track
    </label>
    <input #fileInput type="file"/>
    <audio #player src="" type="audio/mp3" controls></audio>
  </div>

  <button type="submit" [disabled]="!this.form.valid || !this.form.dirty">
  Save
  </button>
</form>


