<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="label-name">
      Name
    </label>
    <input  type="text"  id="label-name" formControlName="label_name"/>
  </div>
  <div>
    <label for="label-description">
      Description
    </label>
    <textarea id="label-description" formControlName="label_description"></textarea>
    <div *ngIf="labelDescription.errors?.maxlength">
      Description cannot be over 200 characters.
    </div>
  </div>
  <div>
    <label for="label-contact">
      Contact email
    </label>
    <input  type="text" id="label-contact"formControlName="label_contact"/>
    <div *ngIf="labelContact.errors?.email">
      Email must be in a valid format.
    </div>
  </div>
  <div>
    <label>
      Upload Demo track
    </label>
    <input #fileInput type="file"/>
    <audio #player src="" type="audio/mp3" controls></audio>
  </div>

  <button type="submit" [disabled]="!this.form.valid || !this.form.dirty">
  Save
  </button>
</form>


